# Binary
Cub3d
Cub3D
Cube3d
Cube3D

# *.pdf
*.zip
copy/

# C
obj
a.out*
*.o
*.d

# OTHERS
.DS_Store
*/.DS_Store
*/*/.DS_Store
*.swp
libmlx.dylib
libft/libft.a
*.bmp
# mlx
# mlx/*.swiftdoc
# mlx/*.swiftmodule