# Binary
Cub3d
Cub3D
Cube3d
Cube3D

# *.pdf
*.zip
copy/

# C
objs
a.out*
*.o
*.d

# OTHERS
.DS_Store
*.swp
.README.md.swp
libmlx.dylib 
*/.DS_Store
*/*/.DS_Store
libft/libft.a

# mlx
mlx/*.swiftdoc
mlx/*.swiftmodule
# mlx/mlx_image.swiftdoc
# mlx/mlx_image.swiftmodule
# mlx/mlx_init.swiftdoc
# mlx/mlx_init.swiftmodule
# mlx/mlx_window.swiftdoc
# mlx/mlx_window.swiftmodule